.main_tittles {
    color: purple;
    font-size: 70px;
}

.container{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px ;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    background-color: black;
    border-style: solid;
    
  
    
  }
.item1{
    color:black;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: purple;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    gap: 20px;
    
    
  }
.item2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    color:black;
    background-color: purple;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    gap: 20px;
  }

.item3{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 7;
    color:black;
    background-color: purple;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    gap: 20px;
  }
  
.item4{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 9;
    color:black;
    background-color: purple;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    gap: 20px;
  }

.item5{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 9;
    grid-column-end: 11;
    color:black;
    background-color: purple;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    gap: 20px;
  }

.gpu_name{
  text-align: center;
}
