.main_tittles {
    color:black;
    font-size: 50px;
    
}

.container{
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    background-color: rgb(53, 53, 53);
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px; 
    padding-left: 20px;
    
  
    
  }

.intro{
  display: grid;
  grid-template-rows: 100px 100px 10px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  background-color: rgb(167, 60, 100);

  gap: 50px;
  padding-top: 20px;
  padding-bottom: 20px; 
  padding-left: 20px;

}
.intro-img{
  color:black;
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 4;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 20px;
}

.space{
  display: grid;
  grid-template-rows: 50px ;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  background-color: white;

}

.smaller-space{
  display: grid;
  grid-template-rows: 10px ;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  background-color: white;
}

.intro-text{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 11;
  color:black;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 20px
}


.item1{
    color:black;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(167, 60, 100);
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
    box-shadow: 3px 3px;

  }


.item2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    color:black;
    background-color: rgb(167, 60, 100);
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
    box-shadow: 3px 3px;
  }

.item3{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 7;
    color:black;
    background-color: rgb(167, 60, 100);
    font-weight: bold;
    padding-top: 10px;
    padding-left: 30px;
    box-shadow: 3px 3px;
    
  }
  
.item4{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 9;
    color:black;
    background-color: rgb(167, 60, 100);
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
    box-shadow: 3px 3px;
  }

.item5{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 9;
    grid-column-end: 11;
    color:black;
    background-color:rgb(167, 60, 100);
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
    box-shadow: 3px 3px;
  }

.more-info{
  color: blue
}

.seperator{
  border-top: 8px solid black;
  border-radius: 5px;
  width: 20%;
  margin-left: 80px;
}

.look-for{
  font-size: 35px;
}

.post-man{
  box-shadow: 5px 5px;
  border-radius: 8px;
}

.para{
  font-size: 20px
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 0.5px solid;
  border-color:rgb(53, 53, 53);
  text-align: left;
  padding: 10px;
}

th{
  background-color: rgb(167, 60, 100);
  
}

tr:nth-child(even) {
  background-color: #dddddd;
}